In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading dataset
df = pd.read_csv('https://raw.githubusercontent.com/nithinag10/machine_learning/main/Multiple_Linear_Regression/housing_prices_data.csv')

In [24]:
df

    AREA  FLOOR  ROOM  PRICE
0   1000      7     2   5618
1   1030      7     1   5201
2   1060      1     1   4779
3   1090      6     1   5425
4   1120      0     2   5657
5   1150      1     1   4945
6   1180      6     2   6475
7   1210      0     1   5352
8   1240      0     2   6290
9   1270      7     1   6147
10  1300     10     2   7718
11  1330      3     2   7035
12  1360      3     3   8712
13  1390      8     3   9457
14  1420      3     2   7304
15  1450      7     2   7535
16  1480      8     3   9968
17  1510      7     2   7614
18  1540      6     3   9762
19  1570      8     3  10067
20  1600      6     2   8074
21  1630      4     3  10201
22  1660      1     3  10051
23  1690      3     3   9775
24  1720      3     3  10229
25  1750      0     2   8314
26  1780      4     2   9288
27  1810      1     3  10503
28  1840      6     2   9763
29  1870      6     3  11527
30  1900      8     2   9912
31  1930      8     2  10204
32  1960      0     2   9085
33  1990      8     2  10240
34  2020      0     4  15220
35  2050     10     3  12278
36  2080      9     5  22270
37  2110     10     3  12574
38  2140      7     3  12618
39  2170      1     4  15457
40  2200      4     3  12793
41  2230      3     3  12641
42  2260      8     4  17207
43  2290      4     4  16969
44  2320      2     4  16293
45  2350      5     4  16845
46  2380     10     4  17604
47  2410      6     4  17310
48  2440      9     3  14036
49  2470      3     3  13699

In [25]:
x = df.iloc[ : , :3].values

In [26]:
y = df.iloc[: , 3].values

In [27]:
x

array([[1000,    7,    2],
       [1030,    7,    1],
       [1060,    1,    1],
       [1090,    6,    1],
       [1120,    0,    2],
       [1150,    1,    1],
       [1180,    6,    2],
       [1210,    0,    1],
       [1240,    0,    2],
       [1270,    7,    1],
       [1300,   10,    2],
       [1330,    3,    2],
       [1360,    3,    3],
       [1390,    8,    3],
       [1420,    3,    2],
       [1450,    7,    2],
       [1480,    8,    3],
       [1510,    7,    2],
       [1540,    6,    3],
       [1570,    8,    3],
       [1600,    6,    2],
       [1630,    4,    3],
       [1660,    1,    3],
       [1690,    3,    3],
       [1720,    3,    3],
       [1750,    0,    2],
       [1780,    4,    2],
       [1810,    1,    3],
       [1840,    6,    2],
       [1870,    6,    3],
       [1900,    8,    2],
       [1930,    8,    2],
       [1960,    0,    2],
       [1990,    8,    2],
       [2020,    0,    4],
       [2050,   10,    3],
       [2080,    9,    5],
       [2110,   10,    3],
       [2140,    7,    3],
       [2170,    1,    4],
       [2200,    4,    3],
       [2230,    3,    3],
       [2260,    8,    4],
       [2290,    4,    4],
       [2320,    2,    4],
       [2350,    5,    4],
       [2380,   10,    4],
       [2410,    6,    4],
       [2440,    9,    3],
       [2470,    3,    3]])

In [13]:
from sklearn.model_selection import train_test_split

In [34]:
x_train , x_test , y_train , y_test = train_test_split(x , y, train_size = 0.8 , random_state=100)

In [35]:
x_train.shape

(40, 3)

In [36]:
x_test.shape

(10, 3)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model = LinearRegression()

In [40]:
model.fit(x_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
model.coef_

array([   4.68576316,   71.78274093, 1894.45529322])

In [42]:
model.intercept_

-3106.412792003408

In [43]:
model.score(x_train , y_train)

0.9646204930750824

In [44]:
model.score(x_test , y_test)

0.8606154687481635